.btn{
    position: absolute;
    left: 93%;
    border-radius: 40px;
}
.nav-item-1{
    position: absolute;
    left: 80%;
}
.nav-item-2{
    position: absolute;
    left: 87%;
}
.markline{
    background:linear-gradient(90.05deg, rgb(9,17,17),-2.5%, rgb(33, 73, 133)100%) ;
    height: 55px;
}
.markline img{
    position: absolute;
    top: 9%;
    left: 92px;
}
.heading{
    position: absolute;
    left: 11%;
    top: 11%;
    color: aliceblue;
}
.download{
    color:springgreen;
    position: absolute;
    top: 11%;
    right: 8%;
}
.breadcrumb-item{
    color: cyan;
    padding: 33px 0px;
}
.info img{
    width: 250px;
    height: auto;
}
.x{
    position: absolute;
    top: 388px;
    left:178px;
    font-size: small;
    background-color:red;
    color: floralwhite;
}
.card img{
    width: 50px;
}
.card1{
    height: 98px;
    margin-right: 95px;
}
.card2{
    position: relative;
    right: 72px;
}
.card3{
    position: relative;
    right: 138px;
}
.card4{
    position: relative;
    right: 184px;
}
.tq ul li{
    list-style-type: none;
}
footer{
    color: white;
}
.fix{
    padding-top: 55px;
}
@media  (max-width: 950px){
   .markline{
     visibility: hidden; 
   } 
   .nav-item-1{
    visibility: hidden;
   }
   .nav-item-2{
    visibility: hidden;
   }
   .nav-item-3{
    visibility: hidden;
   }
   .btn{
    visibility: hidden;
   }
}
@media screen and (min-width: 900px) and (max-width: 1300px) {
    .markline{
        background:linear-gradient(90.05deg, rgb(9,17,17),-2.5%, rgb(33, 73, 133)100%) ;
        height: 55px;
    }
    .markline img{
        position: absolute;
        top: 27%;
        left: 92px;
    }
    .heading{
        position: absolute;
        left: 11%;
        top: 33%;
        color: aliceblue;
    }
    .download{
        color:springgreen;
        position: absolute;
        top: 33%;
        right: 8%;
    }
    .btn{
    position: static;
    left: 93%;
    border-radius: 40px;
}
  }


